/* ********************
design configuration
******************** */

// body text color
$text: #666;

// primary color used in ui elements
$primary: #263F66;

// secondary color used in ui elements
$secondary: #999;      

// body text size, used for base of most measurements
$m: 12px;   

// font face used for h* tags
$bfont: Arial, Helvetica, sans-serif;

// font face used for h* tags
$hfont: 'avenir_45_bookregular',"Century Gothic", sans-serif;

// radius
$radius: 0.25em;

/* ********************
import configuration
******************** */

// import once
$modules: () !default;
@mixin exports($name) {
  // check if code with name is already stored inside of $modules
  @if (index($modules, $name) == false) {
    // if not push it into the list
    $modules: append($modules, $name);
    // include code
    @content;
  }
}


@import "jbolts/_box_sizing.css.scss";
@import "jbolts/_chisel.css.scss";
@import "jbolts/_clear.css.scss";
@import "jbolts/_gradients.css.scss";
@import "jbolts/_layer.css.scss";
@import "jbolts/_opacity.css.scss";
@import "jbolts/_pseudo_blocks.css.scss";
@import "jbolts/_rgba.css.scss";
@import "jbolts/_rounded_corners.css.scss";
@import "jbolts/_shadows.css.scss";

