@import "_pseudo_blocks.css.scss";

/* Arrow */
%arrow {
  padding-left: +25px;
  @include before();
  &:before{
    border: solid transparent 6px;
    border-left-color: rgb(200,200,200); border-left-color: rgba(255,255,255,0.15); 
  }
  &.expand {
    cursor: pointer; 
    &:before { 
      border-left-color: rgb(255,255,255); border-left-color: rgba(255,255,255,0.8);
    }
    &.open:before {
      border-left-color: transparent; border-top-color: rgb(255,255,255); border-top-color: rgba(255,255,255,0.8);
      left: 3px; margin-top:-3px;
    }
  }
}

%arrow-dark {
  padding-left: +25px; position: relative;
  &:before{
    content: " "; display: block;
    width: 0; height: 0; border: solid transparent 6px;
    border-left-color: rgb(0,0,0); color: rgba(0,0,0,0.15); position: absolute; left:6px; top: 50%;
    margin-top: -6px; rotation-point:25% 50%;

  }
  &.expand {
    cursor: pointer; 
    &:before { 
      border-left-color: rgb(0,0,0); border-left-color: rgba(0,0,0,0.5);
    }
    &.open:before {
      border-left-color: rgba(0,0,0,0); border-top-color: rgb(0,0,0); border-top-color: rgba(0,0,0,0.5);
      left: 3px; margin-top:-3px;
    }
  }
}

%down-arrow {
  padding-right: +2em; position: relative;
  &:before{
    content: " "; display: block;
    width: 0; height: 0; border: solid transparent 6px;
    border-top-color: rgb(255,255,255); color: rgba(255,255,255,0.15); position: absolute; right:2px; top: 50%;
    margin-top: -4px; rotation-point:25% 50%;

  }
  &.expand {
    cursor: pointer; 
    &:before { 
      border-top-color: rgb(255,255,255); border-top-color: rgba(255,255,255,0.8);
    }
  }
}

%right-arrow {
  padding-right: +2em; position: relative;
  &:before{
    content: " "; display: block;
    width: 0; height: 0; border: solid transparent 6px;
    border-left-color: rgb(255,255,255); border-left-color: rgba(255,255,255,0.15); position: absolute; right: 0.5em; top: 50%;
    margin-top: -5px;

  }
}
