/* Border Inset */

// Used to emulate a chiseled border between inline block or table-cell elements
@mixin chisel($color:false) {
  @if $color {
    border-left-color: lighten($color,20%); 
    border-right-color:  darken($color,20%);
  } else {
    border-left-color: rgba(0,0,0,0.2); 
    border-right-color:  rgba(255,255,255,0.2);
  }
  border-style: solid; border-width: 0 1px; 
  &:first-child { border-left-width: 0; }
  &:last-child { border-right-width: 0; }
};

%chisel { @include chisel(); }

// Used to emulate a chiseled border between block or row elements
// place on table-row
@mixin chisel_row($color:false) {
  > * {
    @if $color {
      border-top-color: lighten($color,20%); 
      border-bottom-color:  darken($color,20%);
    } else {
          border-top-color: rgba(0,0,0,0.2); 
          border-bottom-color:  rgba(255,255,255,0.2);
    }
    border-style: solid; border-width: 0 1px; 
    &:first-child > * { border-top-width: 0; }
    &:last-child > * { border-bottom-width: 0; }
  };
}

%chisel_row { @include chisel_row(); }

// Used to emulate a chiseled border between block or row elements
// place on block
@mixin chisel_block($color:false) {
    @if $color {
        border-top-color: lighten($color,20%); 
        border-bottom-color:  darken($color,20%);
      } else {
        border-top-color: rgba(0,0,0,0.2); 
        border-bottom-color:  rgba(255,255,255,0.2);
      }
    border-style: solid; border-width: 0 1px; 
  &:first-child { border-top-width: 0; }
  &:last-child { border-bottom-width: 0; }
};

%chisel_block { @include chisel_block(); }
