/* Clipping */

@mixin clip($direction: 'top', $distance: 0) {
  @if $direction == 'top' {
    clip: rect($distance, 200em, 200em, -200em);
  } @else if $direction == 'right' {
    clip: rect(-200em, $distance, 200em, -200em);
  } @else if $direction == 'bottom' {
    clip: rect(-200em, 200em, $distance, -200em);
  } @else if $direction == 'left' {
    clip: rect(-200em, 200em, 200em, $distance);
  }
}

// good for clipping top of dropshadow
%clip { @include clip(); }