/* Linear Gradients */

/* Glass */
// Used to make a glass-like shine
@mixin glass($intensity: 0.29) {
  background-image: linear-gradient(bottom, rgba(0,0,0,$intensity) 0%, rgba(66,66,66,$intensity) 51%, rgba(125,125,125,$intensity) 51%, rgba(255,255,255,$intensity) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,$intensity) 0%, rgba(66,66,66,$intensity) 51%, rgba(125,125,125,$intensity) 51%, rgba(255,255,255,$intensity) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,$intensity) 0%, rgba(66,66,66,$intensity) 51%, rgba(125,125,125,$intensity) 51%, rgba(255,255,255,$intensity) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,$intensity) 0%, rgba(66,66,66,$intensity) 51%, rgba(125,125,125,$intensity) 51%, rgba(255,255,255,$intensity) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,$intensity) 0%, rgba(66,66,66,$intensity) 51%, rgba(125,125,125,$intensity) 51%, rgba(255,255,255,$intensity) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgba(0,0,0,$intensity)),
    color-stop(0.51, rgba(66,66,66,$intensity)),
    color-stop(0.51, rgba(125,125,125,$intensity)),
    color-stop(1, rgba(255,255,255,$intensity))
  );
}

%glass { @include glass(); }

/* Highlight */
// Used to make a top-down highlight
@mixin highlight($intensity: 0.70) {
  background-image: linear-gradient(bottom, rgba(255,255,255,0.0) 0%, rgba(255,255,255,$intensity) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,0.0) 0%, rgba(255,255,255,$intensity) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0.0) 0%, rgba(255,255,255,$intensity) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0.0) 0%, rgba(255,255,255,$intensity) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0.0) 0%, rgba(255,255,255,$intensity) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgba(255,255,255,0.0)),
    color-stop(1, rgba(255,255,255,$intensity))
  );
}

%highlight { @include highlight(); }

/* Shade */
// Used to make a bottom-up shading
@mixin shade($intensity: 0.70) {
  background-image: linear-gradient(bottom, rgba(0,0,0,$intensity) 0%, rgba(0,0,0,0.0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,$intensity) 0%, rgba(0,0,0,0.0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,$intensity) 0%, rgba(0,0,0,0.0) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,$intensity) 0%, rgba(0,0,0,0.0) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,$intensity) 0%, rgba(0,0,0,0.0) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgba(0,0,0,$intensity)),
    color-stop(1, rgba(0,0,0,0.0))
  );
}

%shade { @include shade(); }
