/* RGBA fallback */

@function color-calc($h,$a) {
  @return (abs(($h-128)/128)*$a)*$h;
}

// Used to set rgba and fallback for any rule that takes color parameters
// $rule: color, background-color, border-color...
// $rule, $r, $g, $b, $a
@mixin rule_rgba($rule: 'background-color',$r: 255,$g: 255,$b: 255,$a: 0.7) {

  @if $rule == "background" or "background-color" {

    /* For IE 8 Backgrounds*/
    #{$rule}: transparent; // make sure color is gone as filter will not overule
    $ie_hex_str: ie_hex_str(rgba($r,$g,$b,$a));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie_hex_str}, endColorstr=#{$ie_hex_str})";

  } @else {
    
    // calculate an adjustment factor for each number
    #{$rule}: rgb(color-calc($r,$a),color-calc($g,$a),color-calc($b,$a)); // fallback eliminates opacity

  }

  #{$rule}: rgba($r,$g,$b,$a); // no matter the rule, browsers that understand this will use this

}

%faded-white { @include rule_rgba(); } // default
%faded-black { @include rule_rgba($r: 0, $g: 0, $b: 0); }
%faded-gray-text { @include rule_rgba('color', 200, 210, 210, 0.6); }